.header {
  background-color: #730602; /* 440201 */
  height: var(--header-height);
  top: 0px;
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.header > div {
  margin-top: auto;
  margin-bottom: auto;
}

.pokeregion {
  color: white;
  background-color: #440201;
}

