.header {
  background-color: #440201;
  height: var(--header-height);
  top: 0px;
  position: fixed;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.pokeregion {
  color: white;
}
