.pokegrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 250px));
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-top: calc(var(--header-height) + 20px);
}

.pokegrid > div  {
  text-align: center;
  border-radius: 20px;
  background-color: #ffedec;
  box-shadow: 5px 5px #fe7e7d;
  transition: transform .2s; 
  max-width: 200px;
}

.pokegrid > div:hover {
   transform: scale(1.1);
}

#root {
  width: 100%;
}

.pokecard {
  color: black;
}

body {
  background-color: #fed2d2;
}